// Grant everyone the following permission:
grant {
  permission java.util.logging.LoggingPermission "control";
  permission java.net.SocketPermission "*", "resolve";
};
