/* https://developer.mozilla.org/de/docs/Web/CSS/color_value#werte */

.table-row-cell:highlighted {
  -fx-accent: lightcoral;
  -fx-background-color: lightcoral;
}

.table-row-cell:highlighted-selected {
  -fx-accent: firebrick;
  -fx-background-color: firebrick;
}
