/* http://hg.openjdk.java.net/openjfx/8/master/rt/file/tip/modules/controls/src/main/resources/com/sun/javafx/scene/control/skin/modena/modena.css */
/* https://developer.mozilla.org/de/docs/Web/CSS/color_value#werte */

.table-row-cell:highlighted {
  -fx-accent: lightcoral;
  -fx-background-color: lightcoral;
}

.table-row-cell:highlighted-selected {
  -fx-accent: firebrick;
  -fx-background-color: firebrick;
}
